* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  background-color: #e2f5fa;
}

.container h1 {
  text-align: center;
  color: #112c4e;
  padding: 1rem 0;
}

.task-form {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 1rem;
  margin: 0  0 20px;
}

#todo-task {
  width: 100%;
  max-width: 600px;
  padding: 10px;
  border: 1px solid #5cddb2;
  border-radius: 5px;
  font-size: 18px;
}

.add-task-btn {
  padding: 0 20px;
  font-size: 18px;
  background-color: #71e67b;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-task-btn:hover {
  background-color: #309c39;
}

.task-container {
  padding: 1.5rem;
  background-color: #a6c7de5f;
  margin-bottom: 20px;
  border-radius: 8px;
  max-width: 800px;
  margin: 1em auto;
}

.task-container h2 {
  text-align: center;
  font-size: 24px;
  margin-bottom: 15px;
  color: #1b9391;
}

.task-items {
  list-style: none;
}

.task-items li {
  background: #4a514d25;
  border-bottom: 1px solid #59b8797e;
  padding: 10px 15px;
  margin: 8px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
}

.task-actions {
  margin-left: auto;
  display: flex;
  gap: 5px;
}

.edit-btn, .delete-btn {
  padding: 5px 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
}
